.footerContainer{
    margin-top: 10vh;
    width: 100vw;
    height: auto;
    background-color: #242424;
    color: #fff;
    box-shadow: 10px -10px 50px 50px #242424;
}
.footerContent{
    width: auto;
    text-align: right;
    padding-top: 15vh;
    padding-right: 10vw;
    font-size: 200%;
    transition: .5s;
}
.footerContent:hover{
    font-size: 210%;
    transition: .5s;
}
.location{
    display: flex;
}
.footerContent p{
    text-align: center;
font-size: 50%;
}
.whiteBox{
    width: 40vw;
    height: 0vh;
    margin-left: 50vw;
    border-radius: 20px;
    box-shadow: 10px 10px 500px 50px;
}